/* http://paletton.com/#uid=64g0x0kcVuo1TSJ8hDLi1phnck0 */
.ui-header {
	background-color: #E5DCE9 !important;
	border-bottom: 1px solid #8E63A1 !important;
}

.ui-header h1 {
	font-weight: normal !important;
}

.ui-footer {
	border-top: 1px solid #8E63A1 !important;
	background-color: #E5DCE9 !important;
	font-size: 10px;
	font-weight: normal !important;
}

.ui-footer h4 {
	font-weight: normal !important;
}

.ui-collapsible {
	padding: 0px !important;
}

.ui-btn {
	background-color: #A498C5 !important;
	color: #FFFFFF !important;
	border: none !important;
}

.ui-btn:ACTIVE {
	background-color: #A498C5 !important;
}

.ui-btn:HOVER {
	background-color: #7A6BA6 !important;
	color: #FFFFFF;
}

.ui-collapsible-heading>.ui-btn {
	border-radius: none !important;
	background-color: #E5DCE9 !important;
}

.toolbarButton {
	border: none !important;
	font-size: 14px !important;
	box-shadow: none !important;
	background-color: #E5DCE9 !important;
}

.titleIcon {
	margin-right: 5px;
}

/* Sensor and Actor Styling */

.lightOff {
	font-size: 35px;
	color: #BBBBBB;
}

.lightOn {
	font-size: 35px;
	color: yellow;
}

@keyframes blink { 0% {
	color: yellow;
}

100%
{
color












:














#999999












;
}
}
@-webkit-keyframes blink { 0% {
	color: yellow;
}

100%
{
color














:














#999999














;
}
}
.lightBlink {
	font-size: 35px;
	-webkit-animation: blink 0.5s linear infinite;
	-moz-animation: blink 0.5s linear infinite;
	animation: blink 0.5s linear infinite;
}

.ledRgb {
	font-size: 35px;
}

.lcd table {
	background-color: #EEEEEE;
	border: 1px solid #888888;
	border-collapse: collapse;
}

.lcd td {
	border: 1px solid #888888;
}

.lcd .matrix {
	min-width: 15px;
	width: 15px;
	min-height: 20px;
	height: 20px;
	font-family: monospace;
	font-size: 16px;
	color: #000000;
}

.relay .closed {
	font-size: 20px;
}

.relay .open {
	font-size: 20px;
}

/* jqPlot Overwrites*/
.jqplot-target {
	position: relative;
	color: #666666;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1em;
}

.jqplot-xaxis {
	margin-top: 10px;
}

.jqplot-yaxis {
	margin-right: 10px;
}

/* Sensor Monitoring Page */

#sensorMonitoringPage .sensorName {
	font-size: 14px;
	color: #677AA2;
}

#sensorMonitoringPage .sensorValue {
	font-size: 80px;
	color: #95A3C2;
}