@import "./thing-it-settings";

html {
  font-size: 100%;
}

body,
input,
select,
textarea,
button {
  font-size: @defaultFontSize;
  line-height: 1.3;
  font-family: @defaultFontFamily;
}

a {
  color: @primaryColor;
}

label {
  color: lighten(@textColor, @lightestPercentage);
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  color: lighten(@primaryColor, @lightPercentage);
  font-family: @headerFontFamily;
  font-size: @h1FontSize;
}

h2 {
  text-transform: uppercase;
  color: @secondaryColor;
  font-family: @headerFontFamily;
  font-size: @h2FontSize;
}

h3 {
  text-transform: uppercase;
  color: @contrastColor;
  font-family: @headerFontFamily;
  font-size: @h3FontSize;
}

h4 {
  text-transform: uppercase;
  font-family: @headerFontFamily;
  font-size: @defaultFontSize;
}

button {
  border-radius: 3px !important;
  -webkit-box-shadow: 2px 2px 2px 0px @borderColor !important;
  -moz-box-shadow: 2px 2px 2px 0px @borderColor !important;
  box-shadow: 2px 2px 2px 0px @borderColor !important;
}

/* General Styling */

.lightenedPrimaryColor {
  color: lighten(@primaryColor, @lightPercentage);
}

/* jqPlot Overwrites*/

.jqplot-target {
  position: relative;
  color: #666666;
  font-family: @defaultFontFamily;
  font-size: @defaultFontSize;
}

.jqplot-xaxis {
  margin-top: 10px;
}

.jqplot-yaxis {
  margin-right: 10px;
}

/* Form Table */

.formTable td {
  padding: 2px 5px 2px 0px;
}

/* Tree */

table.tree {
  width: 100%;
}

table.tree tr {
  height: 35px;
}

i.treeHandle {
  font-size: 25px;
}

/* Monitoring Page */

.monitoringPage .value {
  font-size: 40px;
  color: lighten(@primaryColor, @lightPercentage);
}

/* Mobile Angular UI Overwrites */

.app {
  background-color: #FFFFFF;
}

.navbar-app {
  background-color: @primaryColor;
  color: #FFFFFF;
  border-bottom: none;
}

.navbar-app a {
  color: #FFFFFF;
}

.navbar-app .btn {
  color: #FFFFFF;
}

.navbar-app .btn:active, .navbar-app .btn:hover {
  background-color: @primaryColor;
  color: #FFFFFF;
}

.navbar-brand {
  font-size: @h1FontSize;
}

.btn {
  background-color: @primaryColor;
  color: #FFFFFF;
  font-size: @defaultFontSize;
}

.btn:active, .btn:hover {
  background-color: @primaryColor;
  color: #FFFFFF;
}

.list-group-item {
  border-bottom: 1px solid lighten(@contrastColor, @lightPercentage) !important;
}

.itemLabel {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  padding: 3px 5px 3px 5px;
  background-color: lighten(@contrastColor, @lightPercentage);
  color: @contrastColor;
  text-transform: uppercase;
  border-color: @contrastColor;
  border-bottom-right-radius: 3px;
}

.form-control {
  font-size: @defaultFontSize;
}

.form-control:focus {
  border-color: @contrastColor;
  -webkit-box-shadow: 0 0 2px lighten(@contrastColor, @lightPercentage);
  -moz-box-shadow: 0 0 2px lighten(@contrastColor, @lightPercentage);
  box-shadow: 0 0 2px lighten(@contrastColor, @lightPercentage);
}

.panel {
  border-color: lighten(@contrastColor, @lightPercentage) !important;
  margin-bottom: 5px !important;
  box-shadow: none;
}

.panel-heading {
  background-color: lighten(@contrastColor, @lightPercentage) !important;
  border-bottom: none;
  color: @contrastColor !important;
}

.panel-title {
  font-size: @defaultFontSize;
}

.section {
  padding-bottom: 5px;
  padding-top: 5px;
}

.value {
  font-size: 40px;
  color: lighten(@primaryColor, @lightPercentage);
}

.circleText {
  width: 50%;
}

.circleText:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: @primaryColor;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circleText div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}

