/* Style Configuration */
/* General Use */
.circleText {
  width: 50%;
}
.circleText:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #245797;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px 0px #cccccc !important;
  -moz-box-shadow: 2px 2px 2px 0px #cccccc !important;
  box-shadow: 2px 2px 2px 0px #cccccc !important;
}
.circleText div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}
.circleText:hover:after {
  background: #777777;
  color: #FFFFFF;
  cursor: hand;
}
.circleButton {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: none;
  border-radius: 50%;
  background: #245797;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 2px 0px #cccccc !important;
  -moz-box-shadow: 2px 2px 2px 0px #cccccc !important;
  box-shadow: 2px 2px 2px 0px #cccccc !important;
  font-size: 16px;
  font-weight: bold;
}
.circleButton:hover {
  background: #777777;
  cursor: hand;
}
/* Sensor and Actor Styling */
.lightOff {
  font-size: 35px;
  color: #BBBBBB;
}
.lightOn {
  font-size: 35px;
  color: yellow;
}
@keyframes blink {
  0% {
    color: yellow;
  }
  100% {
    color: #999999;
  }
}
@-webkit-keyframes blink {
  0% {
    color: yellow;
  }
  100% {
    color: #999999;
  }
}
.lightBlink {
  font-size: 35px;
  -webkit-animation: blink 0.5s linear infinite;
  -moz-animation: blink 0.5s linear infinite;
  animation: blink 0.5s linear infinite;
}
.ledRgb {
  font-size: 35px;
}
.lcd table {
  background-color: #EEEEEE;
  border: 1px solid #888888;
  border-collapse: collapse;
}
.lcd td {
  border: 1px solid #888888;
}
.lcd .matrix {
  min-width: 15px;
  width: 15px;
  min-height: 20px;
  height: 20px;
  font-family: monospace;
  font-size: 16px;
  color: #000000;
}
/* Relay */
.relay .closed {
  font-size: 20px;
}
.relay .open {
  font-size: 20px;
}
/* Push Button */
.pushButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  font-size: 16px;
  background: #245797;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.pushButton:hover {
  background: #777777;
  text-decoration: none;
}
/* Switch */
.onoffswitch {
  position: relative !important;
  width: 70px !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #245797;
  border-radius: 18px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #2f6ab4;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 22px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 48px;
  border: 1px solid #245797;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
/* Slider */
.irs {
  height: 55px;
  border: none !important;
}
.irs .ui-input-text {
  border: none !important;
}
.irs-with-grid {
  height: 75px;
}
.irs-line {
  height: 10px;
  top: 33px;
  background: #dadcdd;
  border: 1px solid #CCC;
  border-radius: 16px;
  -moz-border-radius: 16px;
}
.irs-line-left {
  height: 8px;
}
.irs-line-mid {
  height: 8px;
}
.irs-line-right {
  height: 8px;
}
.irs-bar {
  height: 15px;
  top: 33px;
  border-top: 1px solid #245797;
  border-bottom: 1px solid #245797;
  background: #245797;
}
.irs-bar-edge {
  height: 15px;
  top: 33px;
  width: 14px;
  border: 1px solid #245797;
  border-right: 0;
  background: #245797;
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}
.irs-shadow {
  height: 2px;
  top: 38px;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.irs-slider {
  top: 25px;
  width: 27px;
  height: 27px;
  border: 1px solid #245797;
  background: #FFFFFF;
  border-radius: 27px;
  -moz-border-radius: 27px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.irs-slider.state_hover,
.irs-slider:hover {
  background: #FFF;
}
.irs-min,
.irs-max {
  color: #6196d9;
  font-size: 16px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
  background: #ccc;
}
.irs-from,
.irs-to,
.irs-single {
  color: #FFFFFF;
  line-height: 1.333;
  font-size: 16px;
  text-shadow: none;
  padding: 1px 5px;
  background: #245797;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
  background: #999;
}
.irs-grid {
  height: 27px;
}
.irs-grid-pol {
  opacity: 0.5;
  background: #245797;
}
.irs-grid-pol.small {
  background: #999;
}
.irs-grid-text {
  bottom: 5px;
  color: #99a4ac;
}
/* Battery Level */
.battery {
  border: 2px solid #333;
  width: 14px;
  height: 22px;
  padding: 2px;
  border-radius: 2px;
  position: relative;
}
.battery:before {
  content: '';
  height: 3px;
  width: 10px;
  background: #333;
  display: block;
  position: absolute;
  top: -6px;
  left: 0px;
  border-radius: 4px 4px 0 0;
}
.battery:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #fff;
  border-radius: 2px;
}
.batteryLevel {
  background-color: #30b455;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  border: none !important;
}
.batteryLevel.batteryLevelWarn {
  background-color: #EFAF13;
}
.batteryLevel.batteryLevelAlert {
  background-color: #E81309;
}
.batteryLevel.batteryLevelAlert:before {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%3E%3C%2Fg%3E%20%3Cpath%20fill%3D%22%23e81309%22%20d%3D%22M17.927%2012l2.68-10.28c0.040-0.126%200.060-0.261%200.060-0.4%200-0.726-0.587-1.32-1.314-1.32-0.413%200-0.78%200.187-1.019%200.487l-13.38%2017.353c-0.18%200.227-0.287%200.513-0.287%200.827%200%200.733%200.6%201.333%201.333%201.333h8.073l-2.68%2010.28c-0.041%200.127-0.060%200.261-0.060%200.4%200.001%200.727%200.587%201.32%201.314%201.32%200.413%200%200.78-0.186%201.020-0.487l13.379-17.353c0.181-0.227%200.287-0.513%200.287-0.827%200-0.733-0.6-1.333-1.333-1.333h-8.073z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: 10px;
  height: 10px;
  width: 10px;
  margin: -14px 0 0 0px;
  content: '';
  display: inline-block;
  position: absolute;
}
/* Drone */
.dronePhoto {
  height: 200px;
}
.droneControlPanel {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #BBBBBB;
}
.buttonIcon {
  font-size: 40px;
}
.droneControlStick {
  position: absolute;
  font-size: 36px;
  color: #245797;
}
/* Video */
video {
  width: 50%;
  height: 50%;
}
