/* Style Configuration */

@backgroundColor: #FFFFFF;
@textColor: #222222;
@borderColor: #CCCCCC;

@primaryColor: #5E829A;
@secondaryColor: #7E8287;
@ternaryColor: #88B5B8;
@contrastColor: #BFAE99;

@darkPercentage: 25%;
@darkestPercentage: 35%;
@lightPercentage: 25%;
@lightestPercentage: 35%;

@defaultFontFamily: 'Titillium Web', sans-serif;
@headerFontFamily: 'Oswald', sans-serif;
@defaultFontSize: 16px;
@h1FontSize: 18px;
@h2FontSize: 18px;
@h3FontSize: 16px;

@borderRadius: 3px;

