/* Style Configuration */
html {
  font-size: 100%;
}
body,
input,
select,
textarea,
button {
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Titillium Web', sans-serif;
}
a {
  color: #245797;
}
label {
  color: #7b7b7b;
  font-weight: normal;
}
h1 {
  text-transform: uppercase;
  color: #6196d9;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
h2 {
  text-transform: uppercase;
  color: #7e8287;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
h3 {
  text-transform: uppercase;
  color: #777777;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
h4 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
input,
input[type=text],
input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  border-radius: 3px !important;
  -webkit-box-shadow: 2px 2px 2px 0px #cccccc !important;
  -moz-box-shadow: 2px 2px 2px 0px #cccccc !important;
  box-shadow: 2px 2px 2px 0px #cccccc !important;
}
::-webkit-input-placeholder {
  font-size: 16px;
  color: red;
}
:-moz-placeholder {
  /* older Firefox*/
  font-size: 16px;
  color: red;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 16px;
  color: red;
}
:-ms-input-placeholder {
  font-size: 16px;
  color: red;
}
/* General Styling */
.lightenedPrimaryColor {
  color: #6196d9;
}
/* jqPlot Overwrites*/
.jqplot-target {
  position: relative;
  color: #666666;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.jqplot-xaxis {
  margin-top: 10px;
}
.jqplot-yaxis {
  margin-right: 10px;
}
/* Form Table */
.formTable td {
  padding: 2px 5px 2px 0px;
  text-align: left;
}
/* Tree */
table.tree {
  width: 100%;
}
table.tree tr {
  height: 35px;
}
i.treeHandle {
  font-size: 25px;
}
/* Monitoring Page */
.monitoringPage .value {
  font-size: 40px;
  color: #6196d9;
}
/* Mobile Angular UI Overwrites */
.app {
  background-color: #FFFFFF;
}
.navbar-app {
  background-color: #245797;
  color: #FFFFFF;
  border-bottom: none;
}
.navbar-app a {
  color: #FFFFFF;
}
.navbar-app .btn {
  color: #FFFFFF;
}
.btn {
  background-color: #245797;
  color: #FFFFFF;
  font-size: 16px;
  outline: none !important;
}
.btn:active,
.btn:hover,
.btn:focus {
  background-color: #777777;
  border-color: #777777;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 2px #b7b7b7 !important;
  -moz-box-shadow: 0 0 2px #b7b7b7 !important;
  box-shadow: 0 0 2px #b7b7b7 !important;
}
.btn-primary {
  border-color: #245797;
}
.btn-primary.disabled,
.btn-primary[disabled] {
  border-color: #245797;
  background-color: #BBBBBB;
  box-shadow: none !important;
  border: none;
}
.navbar-app .btn:active,
.navbar-app .btn:hover {
  background-color: #245797;
  color: #FFFFFF;
  border-color: #245797;
  box-shadow: none !important;
}
.navbar-brand {
  font-size: 18px;
}
.list-group-item {
  border-bottom: 1px solid #b7b7b7 !important;
}
.itemLabel {
  font-size: 14px;
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  padding: 2px 5px 2px 5px;
  background-color: #b7b7b7;
  color: #373737;
  text-transform: uppercase;
  border-color: #777777;
  border-bottom-right-radius: 3px;
}
.componentPlugin {
  margin-top: 20px;
}
.form-control {
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px 12px;
  line-height: 26px;
  color: #222222;
}
.form-control:focus {
  border-color: #777777;
  -webkit-box-shadow: 0 0 2px #b7b7b7;
  -moz-box-shadow: 0 0 2px #b7b7b7;
  box-shadow: 0 0 2px #b7b7b7;
}
.panel {
  border-color: #b7b7b7 !important;
  margin-bottom: 5px !important;
  box-shadow: none;
}
.panel-heading {
  background-color: #b7b7b7 !important;
  border-bottom: none;
  color: #777777 !important;
}
.panel-title {
  font-size: 16px;
}
.modal-overlay {
  background: #ffffff;
}
.section {
  padding-bottom: 5px;
  padding-top: 5px;
}
.navigationIcon {
  padding: 5px;
  color: #245797;
}
.stateIcon {
  color: #777777;
}
.value {
  font-size: 40px;
  color: #6196d9;
}
.circleText {
  width: 50%;
}
.circleText:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #245797;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px 0px #cccccc !important;
  -moz-box-shadow: 2px 2px 2px 0px #cccccc !important;
  box-shadow: 2px 2px 2px 0px #cccccc !important;
}
.circleText div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}
.circleText:hover:after {
  background: #777777;
  color: #FFFFFF;
  cursor: hand;
}
.circleButton {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border: none;
  border-radius: 50%;
  background: #245797;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 2px 0px #cccccc !important;
  -moz-box-shadow: 2px 2px 2px 0px #cccccc !important;
  box-shadow: 2px 2px 2px 0px #cccccc !important;
  font-size: 16px;
  font-weight: bold;
}
.circleButton:hover {
  background: #777777;
  cursor: hand;
}
