body {
	background-color: #595759;
	color: #FFFFFF;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	min-height: 100%;
	height: 100%;
}

h1 {
	color: #9ED3FF;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 {
	color: #A8A6FF;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: normal;
}

h3 {
	color: #CCCCCC;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: uppercase;
	margin-top: 0px;
}

h4 {
	color: #BBBBBB;
	font-size: 12px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

pre {
	margin: 10px;
	border: 1px solid #FFFFFF;
	padding: 10px;
	background-color: #444444;
}

a, a:link {
	color: #97FFD5;
	text-decoration: none;
}

a:hover, a:focus {
	color: #D4FFEE;
	outline: none;
}

.iconLink {
	font-size: 12px;
	color: #97FFD5 !important;
}

.iconLink:hover {
	color: #D4FFEE !important;
}

label {
	color: #CCCCCC;
}

textarea {
	border: 1px solid #708090 !important;
	border-radius: 2px;
}

textarea:disabled {
	border: 1px solid #AFBCC8 !important;
	background-color: #EEEEEE;
}

input {
	color: #FFFFFF;
	background-color: #595759;
	border: 0px;
	border-bottom: 1px solid #CCCCCC !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
	{
	background-color: white !important;
}

input[type=text], input[type=password] {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

input:focus, input[type=text]:focus, input[type=password]:focus, input[type=button]:focus,
	textarea:focus, select:focus {
	border: 0px !important;
	border-bottom: 1px solid #D4FFEE !important;
	outline: none !important;
	box-shadow: none !important;
}

input:active {
	box-shadow: none !important;
}

input[type=button] {
	display: inline-block;
	margin: 0;
	line-height: 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
	text-shadow: none;
	box-shadow: none;
	background-color: #D4FFEE;
	border: 1px solid #2B2865 !important;
	color: #2B2865;
	cursor: pointer;
	padding: 5px 12px;
	vertical-align: middle;
}

input[type=button]:hover {
	background: #97FFD5;
}

input[type=button]:disabled {
	border: 1px solid #BBBBBB !important;
	color: #BBBBBB !important;
	cursor: default !important;
}

textarea {
	background-color: #333333;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

/* Layout Table */
.layoutTable {
	border-collapse: collapse !important;
	border: none !important;
	border-spacing: 0px;
}

.layoutTable tr {
	background: none !important;
}

.layoutTable td {
	border: none !important;
	padding: 0 !important;
	min-height: 0px;
}

/* Form Table */
.formTable {
	border-spacing: 0px;
}

.formTable td {
	border: none !important;
	padding: 0px !important;
	padding-right: 5px !important;
	padding-bottom: 3px !important;
}

/* Data Table */
table.dataTable {
	color: #FFFFFF;
	width: 100%;
	margin: 0px;
	border: 1px solid #888888;
	border-collapse: collapse;
}

table.dataTable thead {
	margin-top: 10px;
	background-color: #888888;
	border: 1px solid #888888;
}

table.dataTable thead th {
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	color: #FFFFFF;
}

table.dataTable tbody td {
	border: 1px solid #888888;
	padding: 5px;
}

table.dataTable tbody tr.lastRow td {
	
}

table.dataTable tbody tr.odd {
	
}

.dataTableRule {
	border-bottom: 1px solid #888888;
}

/* jQuery UI Overwrites */
.ui-widget {
	color: #FFFFFF !important;
	font-family: 'Titillium Web', sans-serif !important;
	font-size: 12px;
}

.ui-widget input:focus, .ui-widget input[type=button]:focus, .ui-widget select:focus,
	.ui-widget textarea:focus, .ui-widget button:focus, .ui-widget a:focus
	{
	bottom-border: 1px solid #D4FFEE !important;
	outline: none !important;
	box-shadow: none !important;
}

.ui-widget a:focus {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.ui-widget label {
	color: #CCCCCC !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-bl {
	border-bottom-left-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-tl {
	border-top-left-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 2px;
}

/* JQuery UI Dialog Overwrites */
div.ui-dialog {
	border: 1px solid #BBBBBB !important;
}

.ui-dialog {
	left: 0;
	outline: 0 none;
	padding: 0px !important;
	position: absolute;
	top: 0;
	background-color: #595759;
	border: 0 none;
	overflow: hidden;
	position: relative;
	padding: 0 !important;
}

.ui-dialog-content {
	background-color: #595759 !important;
	border: 0 none;
	overflow: auto;
	position: relative;
	padding: 10px !important;
}

.ui-widget-header {
	background-color: #595759;
	border: 0;
	border-bottom: 1px solid #BBBBBB;
	color: #fff;
	font-weight: normal;
	color: #fff;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 0.1em .5em;
	position: relative;
	font-size: 1em;
}

.ui-dialog-titlebar {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

/* Dialog Close Button */
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: none;
	background: none;
	color: none;
}

.ui-state-default .ui-icon {
	background-image: none;
	background-color: none;
}

/* Page Layout */
.header {
	position: relative;
	min-height: 50px !important;
	max-height: 50px !important;
	height: 50px;
	width: 100%;
	z-index: 1;
	width: 100%;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #1E97FC;
	padding: 0px;
	border-spacing: 0px !important;
	background: #696669;
	background: -moz-linear-gradient(top, #696669 0%, #595759 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #696669),
		color-stop(100%, #595759));
	background: -webkit-linear-gradient(top, #696669 0%, #595759 100%);
	background: -o-linear-gradient(top, #696669 0%, #595759 100%);
	background: -ms-linear-gradient(top, #696669 0%, #595759 100%);
	background: linear-gradient(to bottom, #696669 0%, #595759 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696669',
		endColorstr='#595759', GradientType=0);
}

.content {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.footer {
	position: relative;
	z-index: 1;
	border-top: 1px solid #AAAAAA;
	height: 50px;
	width: 100%;
}

/* Top Tabs */
.topTab {
	text-align: center;
	vertical-align: middle;
	min-height: 50px;
	max-height: 50px;
	font-size: 20px;
	width: 100px;
}

.topTab:hover {
	background-color: #9ED3FF;
}

.selected {
	background-color: #1E97FC;
}

.tabContent {
	min-height: 50px;
	background-color: #595759;
}

.menu {
	background-color: #595759;
}

.menuItem {
	text-align: center;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	height: 25px;
	font-size: 14px;
}

.menuItem .selected {
	background-color: #0E9EFC;
}

.menuItem:hover {
	background-color: #97FFD5;
	color: #888;
}

.section {
	padding: 5px;
}

.sensorValue {
	color: #DBDAFF;
}

.sensorValueMonitoring {
	font-size: 40px;
	color: #A8A6FF;
}

/* Forms */
input.integer {
	text-align: right;
	width: 100px;
}

input.decimal {
	text-align: right;
	width: 100px;
}

/* Switchboard */
#switchboard {
	border: 1px solid #FFFFFF;
	padding: 10px;
	background-color: #999999;
	height: 550px;
}

#switchboard .draggable {
	position: absolute;
	padding: 5px;
	background-color: #777777;
	border: 1px solid #FFFFFF;
	min-width: 200px;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(68, 68, 68, 1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(68, 68, 68, 1);
	box-shadow: 3px 3px 3px 0px rgba(68, 68, 68, 1);
	margin: 10px;
}

#switchboard input {
	background-color: #777777;
}

#switchboard h3 {
	color: #EEEEEE;
	font-size: 12px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#switchboard h4 {
	color: #F3F3F3;
	font-size: 11px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.paletteEntry {
	padding: 5px;
	border: 1px solid #FFFFFF;
	margin-bottom: 3px;
}

/* Simulator */
#simulator {
	border: 1px solid #FFFFFF;
	padding: 10px;
	background-color: #999999;
	height: 550px;
}

#simulator .draggable {
	position: absolute;
	padding: 5px;
	background-color: #777777;
	border: 1px solid #FFFFFF;
	min-width: 200px;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(68, 68, 68, 1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(68, 68, 68, 1);
	box-shadow: 3px 3px 3px 0px rgba(68, 68, 68, 1);
	margin: 10px;
}

.ledOn {
	font-size: 25px;
	color: yellow;
}

.ledOff {
	font-size: 25px;
	color: #999999;
}

@
keyframes blink { 0% {
	color: yellow;
}

100%
{
color


























































:





























 





























#999999


























































;
}
}
@
-webkit-keyframes blink { 0% {
	color: yellow;
}

100%
{
color


























































:





























 





























#999999


























































;
}
}
.ledBlink {
	font-size: 25px;
	-webkit-animation: blink 0.5s linear infinite;
	-moz-animation: blink 0.5s linear infinite;
	animation: blink 0.5s linear infinite;
}

.lcd table {
	background-color: #CCCCCC;
	border: 2px solid #888888;
	border-collapse: collapse;
}

.lcd td {
	border: 2px solid #888888;
}

.lcd .matrix {
	min-width: 20px;
	width: 20px;
	min-height: 25px;
	height: 25px;
	font-family: monospace;
	font-size: 24px;
	color: #000000;
}

.relay .closed {
	font-size: 20px;
}

.relay .open {
	font-size: 20px;
}

/* Mesh Market */
table.meshDetails {
	margin-top: 3px;
	margin-bottom: 3px;
}

.meshDetails {
	font-size: 9px !important;
	color: #8E63A1 !important;
}

.meshDetails td {
	padding-right: 5px !important;
	padding-left: 5px !important;
	border-right: 1px solid #8E63A1 !important;
}

.meshDetails td:first-child {
	padding-left: 0px !important;
}

.meshDetails td:last-child {
	border-right: none !important;
}

.meshDetails .heading {
	font-size: 14px !important;
	border: none !important;
}

.tag {
	padding: 2px;
	font-size: 10px;
	background-color: #F1F1F1;
	border-radius: 2px;
	margin-right: 4px;
	color: #333333;
}

img.productImage {
	margin: 5px;
	border: 1px solid white;
}