/* Reusable Tags */

.lighterTextColor {
  color: tint(@textColor, @lightPercentage) !important;
}

.lightenedPrimaryColor {
  color: tint(@primaryColor, @lightPercentage) !important;
}

.lightPrimaryColor {
  color: tint(@primaryColor, @lightPercentage) !important;
}

.secondaryColor {
  color: @secondaryColor !important;
}

.ternaryColor {
  color: @ternaryColor !important;
}

.alertColor {
  color: @ternaryColor !important;
}

.defaultBackgroundColor {
  background-color: @backgroundColor;
}

.primaryBackgroundColor {
  background-color: @primaryColor !important;
}

.primaryColor {
  color: @primaryColor !important;
}

.lightPrimaryColor {
  color: tint(@primaryColor, @lightPercentage) !important;
}

.lighterPrimaryColor {
  color: tint(@primaryColor, @lighterPercentage) !important;
}

.lightestPrimaryColor {
  color: tint(@primaryColor, @lightestPercentage) !important;
}

.lightPrimaryBackgroundColor {
  background-color: tint(@primaryColor, @lightPercentage) !important;
}

.lighterPrimaryBackgroundColor {
  background-color: tint(@primaryColor, @lighterPercentage) !important;
}

.lightestPrimaryBackgroundColor {
  background-color: tint(@primaryColor, @lightestPercentage) !important;
}

.backgroundColorPrimaryColorTint80 {
  background-color: tint(@primaryColor, 80) !important;
}

.backgroundColorPrimaryColorTint90 {
  background-color: tint(@primaryColor, 80) !important;
}

.secondaryBackgroundColor {
  background-color: @secondaryColor !important;
}

.lightSecondaryBackgroundColor {
  background-color: tint(@secondaryColor, @lightPercentage) !important;
}

.lighterSecondaryBackgroundColor {
  background-color: tint(@secondaryColor, @lighterPercentage) !important;
}

.lightestSecondaryBackgroundColor {
  background-color: tint(@secondaryColor, @lightestPercentage) !important;
}

.ternaryBackgroundColor {
  background-color: @ternaryColor !important;
}

.lightTernaryColor {
  color: tint(@ternaryColor, @lightPercentage) !important;
}

.lighterTernaryColor {
  color: tint(@ternaryColor, @lighterPercentage) !important;
}

.lightestTernaryColor {
  color: tint(@ternaryColor, @lightestPercentage) !important;
}

.lightTernaryBackgroundColor {
  background-color: tint(@ternaryColor, @lightPercentage) !important;
}

.lighterTernaryBackgroundColor {
  background-color: tint(@ternaryColor, @lighterPercentage) !important;
}

.lightestTernaryBackgroundColor {
  background-color: tint(@ternaryColor, @lightestPercentage) !important;
}

.contrastBackgroundColor {
  background-color: @contrastColor !important;
}

.lightContrastBackgroundColor {
  background-color: tint(@contrastColor, @lightPercentage) !important;
}

.lighterContrastBackgroundColor {
  background-color: tint(@contrastColor, @lighterPercentage) !important;
}

.lightestContrastBackgroundColor {
  background-color: tint(@contrastColor, @lightestPercentage) !important;
}

.borderColorBackgroundColor {
  background-color: @borderColor !important;
}

.lightBorderColorBackgroundColor {
  background-color: tint(@borderColor, @lightPercentage) !important;
}

.borderColor {
  color: @borderColor !important;
}

.lightTextColor {
  color: tint(@textColor, @lightPercentage) !important;
}

.lighterTextColor {
  color: tint(@textColor, @lighterPercentage) !important;
}

.lightestTextColor {
  color: tint(@textColor, @lightestPercentage) !important;
}

.borderBorderColor {
  border-color: @borderColor !important;
}

.defaultBackgroundColorColor {
  color: @backgroundColor;
}

.okColor {
  color: #30b455 !important;
}

.warningColor {
  color: #EFAF13 !important;
}

.alertColor {
  color: @alertColor !important;
}

.defaultBackgroundColorAsColor {
  color: @backgroundColor !important;
}

.noBorder {
  border: none !important;
}

.topBorder {
  border-top: 1px solid @borderColor !important;
}

.bottomBorder {
  border-bottom: 1px solid @borderColor !important;
}

.defaultBorderBottom {
  border-bottom: 1px solid @borderColor !important;
}

.titleFont {
  font-family: @headerFontFamily;
}

.defaultFont {
  font-size: @defaultFontSize;
  font-family: @defaultFontFamily;
}

.monospaceFontFamily {
  font-family: @monospaceFontFamily;
}

.smallFont {
  font-size: @smallFontSize;
  font-family: @defaultFontFamily;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.fontSize0_9 {
  font-size: @defaultFontSize * 0.9 !important;
}

.fontSize0_8 {
  font-size: @defaultFontSize * 0.8;
}

.fontSize0_7 {
  font-size: @defaultFontSize * 0.7;
}

.fontSize0_6 {
  font-size: @defaultFontSize * 0.6;
}

.fontSize0_5 {
  font-size: @defaultFontSize * 0.5;
}

.fontSize1_5 {
  font-size: @defaultFontSize * 1.5;
}

.fontSize2 {
  font-size: @defaultFontSize * 2;
}

.fontSize3 {
  font-size: @defaultFontSize * 3;
}

.fontSize4 {
  font-size: @defaultFontSize * 4;
}

.fontSize5 {
  font-size: @defaultFontSize * 5;
}

/* Layout */

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Predefined Margins */

.noTopMargin {
  margin-top: 0 !important;
}

.defaultMargin {
  margin: 0.5em !important;
}

.defaultTopMargin {
  margin-top: 0.5em !important;
}

.marginTopDefault {
  margin-top: 0.5em !important;
}

.marginTop0_5 {
  margin-top: 0.5em !important;
}

.marginTop1 {
  margin-top: 1em !important;
}

.marginTop2 {
  margin-top: 2em !important;
}

.defaultLeftMargin {
  margin-left: 0.5em !important;
}

.marginLeftDefault {
  margin-left: 0.5em !important;
}

.marginLeft0_2 {
  margin-left: 0.2em !important;
}

.marginLeft0_5 {
  margin-left: 0.5em !important;
}

.marginLeft1 {
  margin-left: 1em !important;
}

.marginLeft2 {
  margin-left: 2em !important;
}

.defaultRightMargin {
  margin-right: 0.5em !important;
}

.marginRightDefault {
  margin-right: 0.5em !important;
}

.marginRight0_5 {
  margin-right: 0.5em !important;
}

.marginRight1 {
  margin-right: 1em !important;
}

.defaultBottomMargin {
  margin-bottom: 0.5em !important;
}

.marginBottom0_5 {
  margin-bottom: 0.5em !important;
}

.margin0_2 {
  margin: 0.2em !important;
}

.margin0_5 {
  margin: 0.5em !important;
}

.margin1 {
  margin: 1em !important;
}

.margin2 {
  margin: 2em !important;
}

.margin3 {
  margin: 3em !important;
}

.bottomMargin1 {
  margin-bottom: 1em !important;
}

.marginBottom1 {
  margin-bottom: 1em !important;
}

.defaultPadding {
  padding: 0.5em !important;
}

.padding0_2 {
  padding: 0.2em !important;
}

.padding0_5 {
  padding: 0.5em !important;
}

.paddingLeft0_5 {
  padding-left: 0.5em !important;
}

.paddingRight0_5 {
  padding-right: 0.5em !important;
}

.paddingTop0_5 {
  padding-top: 0.5em !important;
}

.paddingBottom0_5 {
  padding-bottom: 0.5em !important;
}

.padding1 {
  padding: 1em !important;
}

.paddingLeft1 {
  padding-left: 1em !important;
}

.paddingRight1 {
  padding-right: 1em !important;
}

.defaultTopPadding {
  padding-top: 0.5em !important;
}

.defaultLeftPadding {
  padding-left: 0.5em !important;
}

.defaultRightPadding {
  padding-right: 0.5em !important;
}

.defaultBorder {
  border: 1px solid @borderColor !important;
}

.borderRadius {
  border-radius: @borderRadius !important;
}

.flexLayout {
  display: flex;
}

.flexDirectionColumn {
  flex-direction: column;
}

.flexJustifyEnd {
  justify-content: flex-end;
}

.flexJustifyCenter {
  justify-content: center;
}

.flexGrow1 {
  flex-grow: 1;
}

.flexAlignStart {
  align-items: flex-start !important;
}

.flexAlignCenter {
  align-items: center;
}

.flexAlignBaseline {
  align-items: baseline;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexAlignStretch {
  align-items: stretch;
}

// Basic Tags

html {
  font-size: 100%;
}

body,
input,
select,
textarea,
button {
  font-size: @defaultFontSize;
  line-height: 1.3;
  font-family: @defaultFontFamily;
}

a {
  color: @primaryColor;
}

label {
  color: tint(@textColor, @lightestPercentage);
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  color: tint(@primaryColor, @lightPercentage);
  font-family: @headerFontFamily;
  font-size: @h1FontSize;
  margin-top: 1em;
}

h2 {
  text-transform: uppercase;
  color: @secondaryColor;
  font-family: @headerFontFamily;
  font-size: @h2FontSize;
  margin-top: 1em;
}

h3 {
  text-transform: uppercase;
  color: @contrastColor;
  font-family: @headerFontFamily;
  font-size: @h3FontSize;
  font-weight: 600;
  margin-top: 1em;
}

h4 {
  text-transform: uppercase;
  font-family: @headerFontFamily;
  font-size: @defaultFontSize;
  margin-top: 1em;
}

input, input[type=text], input[type=password] {
  font-size: @defaultFontSize;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid @secondaryColor !important;
}

input[type=checkbox] {
  outline: none;
  width: 1.5em;
  height: 1.5em;
  padding: 2px;
  line-height: 2;
  display: block;
  border-radius: 1px;
  border: 1px solid @ternaryColor;
  -webkit-appearance: none;
  background-color: #FFFFFF;
}

input[type=checkbox]:checked {
  background-color: @ternaryColor;
  border: 1px solid #99B9E8;
}

input[type=checkbox]:before {
  border-radius: 3px;
  border-top: 1px solid #F7F7F7;
  border-right: 1px solid #999999;
  border-bottom: 1px;
  solid: #BABABA;
  border-left: 1px solid #BDBDBD;
  background-image: -webkit-gradient(
          linear, left top, left bottom,
          color-stop(0, #D8D8D8),
          color-stop(1, #FBFBFB)
  );
  height: 20px;
  width: 22px;
  display: inline-block;
  text-indent: 27px;
}

input[type=checkbox]:checked:before {
  text-indent: -25px;
  margin-left: 33px;
}

input[type=number] {
  text-align: right;
  width: 5em;
}

input.ng-untouched, select.ng-untouched {
  border: 1px solid @secondaryColor !important;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border-color: @alertColor !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: @borderColor;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: @borderColor !important;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: @borderColor !important;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: @borderColor !important;
}

select {
  background-color: #FFFFFF;
  border: 1px solid @secondaryColor;
}

.formControl {
  height: 34px;
  padding: 6px 12px;
  font-size: @defaultFontSize;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fullWidth {
  display: block;
  width: 100%;
}

.formControl:focus {
  border-color: @ternaryColor;
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.formControl::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.formControl:-ms-input-placeholder {
  color: #999999;
}

.formControl::-webkit-input-placeholder {
  color: #999999;
}

.formControl[disabled],
.formControl[readonly],
fieldset[disabled] .formControl {
  background-color: #eeeeee;
  opacity: 1;
}

.formControl[disabled],
fieldset[disabled] .formControl {
  cursor: not-allowed;
}

::-webkit-input-placeholder {
  font-size: @defaultFontSize;
  color: @borderColor;
}

:-moz-placeholder {
  /* older Firefox*/
  font-size: @defaultFontSize;
  color: @borderColor;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: @defaultFontSize;
  color: @borderColor;
}

:-ms-input-placeholder {
  font-size: @defaultFontSize;
  color: @borderColor;
}

.btn, .btn:focus, a.btn {
  font-size: @defaultFontSize;
  background-color: #FFFFFF;
  color: @primaryColor;
  border-color: @primaryColor;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn:active, .btn:hover {
  background-color: @contrastColor;
  border-color: @contrastColor;
  color: #FFFFFF;
}

.btn-primary {
  background-color: @primaryColor;
  border-color: @primaryColor;
  color: #FFFFFF;
}

.btn-primary.disabled, .btn-primary[disabled] {
  background-color: #BBBBBB;
  border-color: #BBBBBB;
  color: #FFFFFF;
}

.dropdown-menu {
  font-size: @defaultFontSize !important;
}

.validationMessages {
  font-size: @smallFontSize;
  color: @alertColor;
  margin: 1em;
}

.horizontalLine {
  border-top: 1px solid tint(@secondaryColor, @lighterPercentage);
  width: 100%;
  height: 0px;
  clear: both;
}

.titleTextTransform {
  text-transform: uppercase;
}

.ellipsisTextOverflow {
  text-overflow: ellipsis;
}

.loadingOverlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 999;
}

.spinFix .fa-spin {
  -webkit-transform-origin: 50% calc(50% - .5px);
  transform-origin: 50% calc(50% - .5px);
}

/* Tile Page */

.tileContainer {
  border-collapse: collapse;
  border: none !important;
  width: 100%;
}

.tile {
  position: relative;
  float: left;
  width: 25%;
  border-right: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile .iconBackground {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 4.8em;
  height: 4.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile .img {
  border-radius: 5px;
  min-width: 4.8em;
  min-height: 4.8em;
  width: 4.8em;
  height: 4.8em;
}

.tileButton:hover {
  -webkit-animation: tileButtonClick 1s;
  -moz-animation: tileButtonClick 1s;
  -o-animation: tileButtonClick 1s;
  animation: tileButtonClick 1s;
  cursor: hand;
}

.horizontalScrollBand {
  background-color: white;
  height: 15em;
}

.horizontalScrollBand .tile {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontalScrollBand .tile .iconBackground {
  width: 10em;
  height: 10em;
  padding: 0.5em;
  background-color: tint(@primaryColor, 90);
  border-radius: 0.5em;
}

.horizontalScrollBand .tile .icon {
  font-size: 5em;
  font-weight: 400;
  color: @primaryColor;
}

.horizontalScrollBand .tile img {
  min-width: 10em !important;
  min-height: 10em !important;
  width: 10em !important;
  height: 10em !important;
  border-radius: 0.5em;
}

.itemList {
  border: 1px solid @borderColor;
  overflow: auto;
}

.item {
  padding: 0.5em;
}

.selectedItem {
  padding: 0.5em;
  background-color: tint(@primaryColor, 60);
}

@keyframes tileButtonClick {
  0% {
    background: @ternaryColor;
    -webkit-box-shadow: 1px 1px 1px 0px @ternaryColor;
    -moz-box-shadow: 1px 1px 1px 1px @ternaryColor;
    -o-box-shadow: 1px 1px 1px 1px @ternaryColor;
    box-shadow: 1px 1px 1px 0px @ternaryColor;
  }
  100% {
    background: #FFFFFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}

@-webkit-keyframes tileButtonClick {
  0% {
    background: @ternaryColor;
  }
  100% {
    background: #FFFFFF;
  }
}

.roundImage {
  border-radius: 50% !important;
}

.notificationBubble {
  position: absolute;
  top: -1em;
  left: -1em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @alertColor;
  opacity: 1 !important;
  color: white;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  border-radius: 50%;
}

/* jqPlot Overwrites*/

.jqplot-target {
  position: relative;
  color: #666666;
  font-family: @defaultFontFamily;
  font-size: @defaultFontSize;
}

.jqplot-xaxis {
  margin-top: 10px;
}

.jqplot-yaxis {
  margin-right: 10px;
}

/* Form Table */

.formTable {
  display: table;
}

.formRow {
  display: table-row;
}

.formCell {
  display: table-cell;
  padding: 0.2em;
  text-align: left;
}

/* Tree */

table.tree {
  width: 100%;
}

table.tree tr {
  height: 35px;
}

i.treeHandle {
  font-size: 25px;
}

/* Monitoring Page */

.monitoringPage .value {
  font-size: 40px;
  color: tint(@primaryColor, @lightPercentage);
}

/* Mobile Angular UI Overwrites */

.app {
  background-color: #FFFFFF;
}

.navbar {
}

.navbar-app {
  background-color: @primaryColor;
  color: #FFFFFF;
  border-bottom: none;
  min-height: 55px !important;
  z-index: 950 !important;
  font-size: @h1FontSize;
  display: table-cell;
  vertical-align: middle;
  padding-top: 8px;
}

.navbar-app .btn {
  color: #FFFFFF;
}

.navbar-app a {
  display: inline-block;
  color: #FFFFFF;
}

.navbar-app .btn:active, .navbar-app .btn:hover {
  background-color: @primaryColor !important;
  color: #FFFFFF !important;
  border-color: @primaryColor;
  box-shadow: none !important;
  font-size: @defaultFontSize;
}

.navbar-absolute-bottom {
  height: 30px !important;
  padding-top: 0 !important;
  font-size: @defaultFontSize;
}

.colorBar {
  position: absolute;
  height: 8px;
  top: 55px;
  z-index: 995 !important;
  width: 100%;
}

.app-body {
  padding-top: 63px !important;
}

a.list-group-item {
  color: @textColor;
}

.list-group-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: 1px solid tint(@textColor, @lightestPercentage) !important;
}

.itemLabel {
  font-size: @defaultFontSize;
  font-weight: 600;
  position: absolute;
  width: 70%;
  max-width: 70%;
  top: 0;
  left: 0;
  padding: 2px 5px 2px 5px;
  background-color: tint(@contrastColor, 45);
  color: @backgroundColor !important;
  text-transform: uppercase;
  text-overflow: ellipsis;
  border-color: @contrastColor;
  border-bottom-right-radius: 3px;
}

.componentPlugin {
  margin-top: 1.5em;
  font-size: @defaultFontSize;
}

.formControl {
  font-size: @defaultFontSize;
  border-radius: @borderRadius;
  border: 1px solid @borderColor;
  padding: 5px 12px;
  line-height: @defaultFontSize + 10;
  color: @textColor;
}

.formControl:focus {
  border-color: @contrastColor;
  -webkit-box-shadow: 0 0 2px tint(@contrastColor, @lightPercentage);
  -moz-box-shadow: 0 0 2px tint(@contrastColor, @lightPercentage);
  box-shadow: 0 0 2px tint(@contrastColor, @lightPercentage);
}

.section {
  padding: 1em !important;
}

.panel {
  border-color: tint(@contrastColor, @lighterPercentage) !important;
  margin-bottom: 0.5em !important;
  box-shadow: none;
}

.panel-heading {
  background-color: tint(@contrastColor, @lighterPercentage) !important;
  border-bottom: none;
  color: @contrastColor !important;
}

.panel-title {
  font-size: @defaultFontSize;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #FAFAFA !important;
  border-color: #FAFAFA !important;
}

.modal-overlay {
  background: @backgroundColor;
}

.modal-dialog {
  margin-top: 20px !important;
}

.divLink {

}

.divLink:active {
  -webkit-animation: divLinkClick 1s;
  -moz-animation: divLinkClick 1s;
  -o-animation: divLinkClick 1s;
  animation: divLinkClick 1s;
  cursor: hand;
}

@keyframes divLinkClick {
  0% {
    background: tint(@ternaryColor, @lightestPercentage);
  }
  100% {
    background: #FFFFFF;
  }
}

.listGroupItem {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.listGroupItem .titleIcon {
  width: 2em;
  display: table-cell;
  vertical-align: middle;
  color: tint(@ternaryColor, @lightPercentage);
  font-size: @defaultFontSize + 4;
}

.buttonIcon {
  color: tint(@ternaryColor, @lightPercentage);
  font-size: @defaultFontSize + 4;
}

.listGroupItem .listGroupItemRow {
}

.listGroupItem .content {
}

.listGroupItem .navigationIcon {
  color: tint(@ternaryColor, @lightPercentage);
  font-size: @defaultFontSize * 1.5;
  width: 2em;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.stateIcon {
  color: tint(@ternaryColor, @lightPercentage);
}

.listGroupItem .titleIcon {
  width: 2em;
  display: table-cell;
  vertical-align: middle;
  color: tint(@ternaryColor, @lightPercentage);
  font-size: @defaultFontSize + 4;
}

.checklistItem {
  display: table;
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.checklistItem .content {
  display: table-cell;
  vertical-align: middle;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checklistItem .checkBox {
  display: table-cell;
  width: 3em;
  vertical-align: middle;
}

// TODO Make directive

.numberInput {
  text-align: right;
}

// @TODO only for monitoring page

.value {
  font-size: 40px;
  color: tint(@primaryColor, @lightPercentage);
}

img.photo {
  -webkit-box-shadow: 2px 2px 2px 0px @borderColor;
  -moz-box-shadow: 2px 2px 2px 0px @borderColor;
  box-shadow: 2px 2px 2px 0px @borderColor;
  border-radius: 3px;
}

.center-overlay {
  position: absolute;
  width: 100%;
  opacity: 0.6;
  text-align: center;
  margin-left: -0.5em;
  margin-top: -0.3em;
}

.overlay-icon {
  display: inline-block;
  font-size: 2em;
  color: @primaryColor;
  visibility: hidden;
}

.overlay-alarm-icon {
  display: inline-block;
  font-size: 2em;
  color: @alertColor;
  visibility: hidden;
}

// Storyboard Configuration

.listGroupItem .timestamp {
  width: 3em;
  display: table-cell;
  vertical-align: middle;
  color: tint(@ternaryColor, @lightPercentage);
  padding-right: 1em;
}

.storyboardStepEntries {
  list-style: none;
  padding-left: 0;
}

.chart {
  width: 100%;
  height: 100%;
}

// Calendar

.calendar {
  width: 100%;
  table-layout: fixed;
}

.calendarItem {
  width: 14.29%;
  height: 3em;
  text-align: center;
}

.weekDay {
  color: @primaryColor !important;
  font-weight: 600;
}

.day {
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.today {
  color: white !important;
  background-color: @primaryColor !important;
  border-radius: 50% !important;
  font-weight: 600;
}

.holiday {
  color: @primaryColor !important;
}

.otherMonth {
  color: tint(@textColor, @lighterPercentage) !important;
}

.pastDate {
  color: tint(@textColor, @lightestPercentage) !important;
}

.calendarEvent {
  border-left: 3px solid @primaryColor;
  background-color: tint(@primaryColor, 70);
  padding: 0.5em;
  font-size: @smallFontSize;
}

// Patches for imported CSS

.form-control {
  font-size: @defaultFontSize;
  font-family: @defaultFontFamily;
}

// Progress Indicator

.progress {
  padding: 0;
  list-style-type: none;
  font-family: @defaultFontFamily;
  font-size: 12px;
  text-transform: uppercase;
  clear: both;
  line-height: 1em;
  margin: 0 -1px;
  text-align: center;
  min-height: 40px;
  background-color: white;
}

.progress li {
  float: left;
  padding: 10px 30px 10px 30px;
  background: @primaryColor;
  color: #fff;
  position: relative;
  border-top: 1px solid @primaryColor;
  border-bottom: 1px solid @primaryColor;
  width: 23.5%;
  margin: 0 1px;
}

.progress li:before {
  content: '';
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 0;

}

.progress li:after {
  content: '';
  border-left: 16px solid @primaryColor;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

.progress li.active {
  background: tint(@primaryColor, @lightPercentage);
}

.progress li.active:after {
  border-left-color: tint(@primaryColor, @lightPercentage);
}

.angular-google-map-container {
  height: 400px;
}

.googleLoginButton {
  background-color: @googleColor !important;
  border-color: @googleColor !important;
  color: white !important;
}

.googleLoginButton:hover {
  background-color: tint(@googleColor, @lightPercentage) !important;
  border-color: tint(@googleColor, @lightPercentage) !important;
}

.twitterLoginButton {
  background-color: @twitterColor !important;
  border-color: @twitterColor !important;
  color: white !important;
}

.twitterLoginButton:hover {
  background-color: tint(@twitterColor, @lightPercentage) !important;
  border-color: tint(@twitterColor, @lightPercentage) !important;
}

.facebookLoginButton {
  background-color: @facebookColor !important;
  border-color: @facebookColor !important;
  color: white !important;
}

.facebookLoginButton:hover {
  background-color: tint(@facebookColor, @lightPercentage) !important;
  border-color: tint(@facebookColor, @lightPercentage) !important;
}

.githubLoginButton {
  background-color: @githubColor !important;
  border-color: @githubColor !important;
  color: white !important;
}

.githubLoginButton:hover {
  background-color: tint(@githubColor, @lightPercentage) !important;
  border-color: tint(@githubColor, @lightPercentage) !important;
}

.cobotLoginButton {
  background-color: @cobotColor !important;
  border-color: @cobotColor !important;
  color: white !important;
}

.cobotLoginButton:hover {
  background-color: tint(@cobotColor, @lightPercentage) !important;
  border-color: tint(@cobotColor, @lightPercentage) !important;
}

