/* Style Configuration */

@backgroundColor: #FFFFFF;
@textColor: #222222;
@borderColor: #CCCCCC;

@primaryColor: #11395B;
@secondaryColor: #7E8287;
@ternaryColor: #2f6ab4;
@contrastColor: #777777;
@alertColor: #ff2f92;

@darkPercentage: 25%;
@darkestPercentage: 45%;
@lightPercentage: 25%;
@lighterPercentage: 35%;
@lightestPercentage: 45%;

@defaultFontFamily: 'Titillium Web', sans-serif;
@monospaceFontFamily: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
@headerFontFamily: 'Titillium Web', sans-serif;
@codeFontFamily: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
@defaultFontSize: 14px;
@h1FontSize: 16px;
@h2FontSize: 16px;
@h3FontSize: 14px;
@smallFontSize: 12px;

@borderRadius: 3px;

@googleColor: #DD4B39;
@twitterColor: #4099FF;
@facebookColor: #3b5998;
@githubColor: #CB3837;
@cobotColor: #207abb;
