<div ui-content-for="topbar">
    <div class="navbar-brand navbar-brand-center">
        <i class="fa fa-lightbulb-o"></i> {{topPage().actor.label}}
    </div>
    <div class="btn-group pull-left" >
        <div class="btn" >
            <a ng-click="popPage()"><i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</div>

<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="section">
            <div class="panel panel-default">
                <table width="100%" style="margin: 10px;">
                    <tr valign="center">
                        <td align="center">
                            <div ng-include="getComponentPluginPath(topPage().actor)"
                                 ng-repeat="component in [topPage().actor]"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="section" style="padding-top: 0; padding-bottom: 0;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        State
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="formTable">
                        <tr>
                            <td><label>Last
                                State Change</label></td>
                            <td>{{formatDateTime(topPage().actor.lastStateChangeTimestamp)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="list-group">
            <a class="list-group-item">
            </a>
            <a ng-repeat="service in topPage().actor.__type.services"
               ng-click="callActorService(topPage().actor, service.id)" class="list-group-item">
                <i
                        class="fa fa-gear"></i> {{service.label}}</a></li>
        </div>
    </div>
</div>
