<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="section">
            <div class="panel panel-default">
                <table width="100%" style="margin: 10px;">
                    <tr valign="center">
                        <td align="center">
                            <div ng-include="getComponentPluginPath(device)"
                                 ng-repeat="device in [topPage().device]"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="section">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        State
                    </h4>
                </div>
                <div class="panel-body"><label>Last
                    State Change</label>{{formatDateTime(topPage().device.lastStateChangeTimestamp)}}
                </div>
            </div>
        </div>
        <div class="list-group">
            <a class="list-group-item">
            </a>
            <a ng-click="pushDeviceMonitoringPage(topPage().device)" class="list-group-item"><i
                    class="titleIcon fa fa-line-chart"></i>Monitoring</a>
            <a ng-repeat="service in topPage().device.__type.services"
               ng-click="callDeviceService(topPage().device, service.id)" class="list-group-item">
                <i
                        class="titleIcon fa fa-gear"></i>{{service.label}}</a></li>
        </div>
    </div>
</div>
