<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!--<meta name="format-detection" content="telephone=no"/>-->
    <!--<meta name="msapplication-tap-highlight" content="no"/>-->
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <!--<meta name="viewport"-->
    <!--content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>[thing-it] Mobile Client</title>
    <link rel="shortcut icon" sizes="196x196"
          href="./css/images/thing-it-home-screen.png">
    <link rel="apple-touch-icon" sizes="196x196"
          href="./css/images/thing-it-home-screen.png">
    <link rel="apple-touch-icon-precomposed" sizes="196x196"
          href="./css/images/thing-it-home-screen.png">
    <link rel="apple-touch-startup-image"
          href="./css/images/thing-it-splash.png">
    <link href="./css/fonts/titillium-web.css"
          rel="stylesheet" type="text/css">
    <link href="./css/fonts/oswald.css" rel="stylesheet" type="text/css">
    <link href="./css/font-awesome/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="./css/thirdparty/jquery-mobile/jquery-mobile.css">
    <link rel="stylesheet" href="./css/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="./css/ion.rangeslider.css">
    <link rel="stylesheet" href="./css/thing-it-mobile.css" type="text/css" type="text/css">
    <link rel="stylesheet" href="./css/thing-it-plugins.css" type="text/css" type="text/css">
    <link rel="stylesheet" href="./css/thirdparty/jqplot/jquery.jqplot.css"/>
    <script src="./js/libs/require/2.0.5/require-min.js"></script>
    <script type="text/javascript">
        require
                .config({
                    baseUrl: "./",
                    paths: {
                        'lodash': ['js/libs/lodash/lodash.min'],
                        'jquery': ['js/libs/jquery/jquery-1.11.0.min'],
                        'jquery-ui': ['js/libs/jquery/plugins/jquery-ui-1.10.2.custom.min'],
                        "jquery.ui.touch-punch": ["js/libs/jquery/plugins/jquery.ui.touch-punch.min"],
                        "jquery.knob": ['js/libs/jquery/plugins/jquery.knob.min'],
                        "jquery.rangeslider": ['js/libs/jquery/plugins/ion.rangeslider.min'],
                        'jquery-mobile': ['js/libs/jquery/plugins/jquery.mobile-1.4.5.min'],
                        'json': ['js/libs/json/json2'],
                        'angularjs': ['js/libs/angular/angular-1.0.2'],
                        "socketio": [window.location.protocol + "//"
                        + window.location.hostname + ":"
                        + window.location.port + "/socket.io/socket.io"],
                        'jquery.jqplot': ['js/libs/jqplot/jquery.jqplot.min'],
                        'jquery.jqplot.dateAxisRenderer': ['js/libs/jqplot/plugins/jqplot.dateAxisRenderer.min'],
                        'moment': ['js/libs/moment/moment-2.8.4.min'],
                        less: ["js/libs/less/less.min"]
                    },
                    shim: {
                        "jquery-mobile": ['jquery'],
                        "jquery-ui": ['jquery'],
                        "jquery.ui.touch-punch": ["jquery"],
                        "jquery.knob": ["jquery"],
                        "jquery.rangeslider": ["jquery"],
                        "angularjs": {
                            require: "jquery",
                            exports: "angular"
                        },
                        "jquery.jqplot": ["jquery"],
                        "jquery.jqplot.dateAxisRenderer": ["jquery.jqplot"]
                    }
                });
        require(["require", "jquery", "jquery-ui", "jquery.ui.touch-punch", "jquery.knob", "jquery-mobile",
            "jquery.jqplot", "jquery.jqplot.dateAxisRenderer",
            "jquery.rangeslider", "json", "angularjs", "socketio", "moment", "less",
            "js/Utils", "js/AngularDirectives",
            "js/MobileConsole"], function (require, jquery, jqueryUi, jqueryUiTouchPunch, jqueryKnob,
                                           jqueryMobile, jqueryJqPlot, jqplotDateAxisRenderer,
                                           jqueryRangeslider, json, angularjs, socketio, moment, less, Utils,
                                           AngularDirectives, MobileConsole) {
            jQuery(document).ready(function () {
                //jQuery(document).on('pagecreate', function() {
                console.log("Initialization");

                var module = angularjs.module("mobileConsoleApplication", []);

                module.controller('mobileConsole', function ($scope) {
                    Utils.inheritMethods($scope, MobileConsole.create());

                    $scope.initialize(socketio);
                });

                AngularDirectives.initialize(module);

                angular.bootstrap(document, ["mobileConsoleApplication"]);

                window.setTimeout(function () {
                    jQuery("#deck").css("visibility", "visible");
                }, 1000);
            });
        });
    </script>
</head>
<body style="height: 100%;" ng-controller="mobileConsole">
<div id="deck" style="visibility: hidden;">
    <div id="loginPage" data-role="page">
        <div data-role="header">
            <h1>[thing-it] Mobile</h1>
        </div>
        <div role="main" class="ui-content">
            <table style="width: 100%;">
                <tr valign="center">
                    <td align="center"><img
                            src="./css/images/thing-it-welcome-screen.png"></td>
                </tr>
            </table>
            <label for="loginPage-account" class="ui-hidden-accessible"
                   ng-show="authenticationMode.type == 'userCredentials'">Account</label>
            <input type="text" id="loginPage-account" placeholder="Account"
                   ng-model="loginPage.account" ng-show="authenticationMode.type == 'userCredentials'"> <label
                for="loginPage-password" class="ui-hidden-accessible">Password</label>
            <input type="password" id="loginPage-password"
                   placeholder="Password" ng-model="loginPage.password">
            <button id="loginPanel-login" class="ui-btn ui-corner-all"
                    ng-click="loginPage.login()">Login
            </button>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="meshesPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>Meshes</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <form>
                <ul data-role="listview">
                    <li ng-repeat="mesh in topPage().meshes" jqm-li><a
                            ng-click="pushMeshPage(mesh)"></span>{{mesh.label}}</a></li>
                </ul>
            </form>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="meshPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>Nodes</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <form>
                <ul data-role="listview">
                    <li ng-repeat="node in topPage().mesh.nodes" jqm-li><a
                            ng-click="$parent.openNodePage(topPage().mesh, node)"></span>{{node.label}}</a></li>
                </ul>
            </form>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="nodePage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>
                <i class="titleIcon fa fa-calculator"></i>{{topPage().node.label}} {{deviceAdvertisementDialog.nase}}
            </h1>
            <a class="toolbarButton" ng-click="logout()"><i
                    class="fa fa-power-off"></i></a>
            <a class="toolbarButton" ng-click="pushAdministrationPage()"><i
                    class="fa fa-wrench"></i></a>
        </div>
        <div role="main" class="ui-content">
            <ul data-role="listview">
                <li ng-repeat="group in topPage().node.groups" jqm-list-item><a
                        ng-click="pushGroupPage(group)"><span ng-show="group.icon"><i
                        class="titleIcon fa fa-{{group.icon}}"></i></span><span
                        ng-hide="group.icon"><i class="titleIcon fa fa-home"></i></span>{{group.label}}</a></li>
                <li ng-repeat="service in topPage().node.services" jqm-li><a
                        ng-click="$parent.callNodeService(service)"><i class="fa fa-gear"></i>{{service.label}}</a></li>
                <li ng-repeat="device in topPage().node.devices"
                    ng-show="device.__type.tangible && !isDeviceInGroups(device)" jqm-li>
                    <table
                            width="100%">
                        <tr valign="center">
                            <td width="45%" align="left"><h3>{{device.label}}</h3></td>
                        </tr>
                        <tr>
                            <td width="45%" align="center">
                                <div ng-include="getComponentPluginPath(device)"
                                     ng-repeat="device in [device]"></div>
                            </td>
                            <td width="10%" align="right"><a
                                    ng-click="pushDevicePage(device)">
                                <div class="iconLink"><i
                                        class="fa fa-chevron-right"></i></div>
                            </a></td>
                        </tr>
                    </table>
                </li>
                <li ng-repeat="actor in topPage().actors" ng-show="!isActorInGroups(actor)" jqm-li>
                    <table
                            width="100%">
                        <tr valign="center">
                            <td width="45%" align="left"><h3>{{actor.label}}</h3></td>
                        </tr>
                        <tr>
                            <td width="45%" align="center">
                                <div ng-include="getComponentPluginPath(actor)"
                                     ng-repeat="actor in [actor]"></div>
                            </td>
                            <td width="10%" align="right"><a
                                    ng-click="pushActorPage(actor)">
                                <div class="iconLink"><i
                                        class="fa fa-chevron-right"></i></div>
                            </a></td>
                        </tr>
                    </table>
                </li>
                <li ng-repeat="sensor in topPage().sensors" ng-show="!isSensorInGroups(sensor)">
                    <table width="100%">
                        <tr valign="center">
                            <td width="45%" align="left"><h3>{{sensor.label}}</h3></td>
                        </tr>
                        <tr>
                            <td width="45%" align="center">
                                <div ng-include="getComponentPluginPath(sensor)"
                                     ng-repeat="sensor in [sensor]"></div>
                            </td>
                            <td width="10%" align="right"><a
                                    ng-click="pushSensorPage(sensor)">
                                <div class="iconLink"><i
                                        class="fa fa-chevron-right"></i></div>
                            </a></td>
                        </tr>
                    </table>
                </li>
                <li ng-repeat="service in topPage().services" jqm-li><a
                        ng-click="callNodeService(service)"><i
                        class="titleIcon fa fa-gear"></i> {{service.label}}</a></li>
                <li ng-repeat="data in topPage().node.data">
                    <table width="100%">
                        <tr valign="center">
                            <td width="90%" align="left"><i
                                    class="titleIcon fa fa-database"></i> {{data.label}}
                            </td>
                            <td width="10%" align="right"><a
                                    ng-click="pushDataPage(data)">
                                <div class="iconLink"><i
                                        class="fa fa-chevron-right"></i></div>
                            </a></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="groupPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>
					<span ng-show="topPage().group.icon"><i
                            class="titleIcon fa fa-{{topPage().group.icon}}"></i></span><span
                    ng-hide="topPage().group.icon"><i
                    class="titleIcon fa fa-home"></i></span>{{topPage().group.label}}
            </h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <form>
                <ul data-role="listview">
                    <li ng-repeat="group in topPage().group.subGroups" jqm-li><a
                            ng-click="pushGroupPage(group)"><span ng-show="group.icon"><i
                            class="titleIcon fa fa-{{group.icon}}"></i></span><span
                            ng-hide="group.icon"><i class="titleIcon fa fa-home"></i></span>{{group.label}}</a></li>
                    <li ng-repeat="service in topPage().group.getServices()" jqm-li><a
                            ng-click="callNodeService(service)"><i
                            class="titleIcon fa fa-gear"></i>{{service.label}}</a></li>
                    <li ng-repeat="actor in topPage().group.getActors()" jqm-li>
                        <table
                                width="100%">
                            <tr valign="center">
                                <td width="45%" align="left"><label>{{actor.label}}</label></td>
                                <td width="45%" align="center">
                                    <div ng-include="getComponentPluginPath(actor)"
                                         ng-repeat="actor in [actor]"></div>
                                </td>
                                <td width="10%" align="right"><a
                                        ng-click="pushActorPage(actor)"><i
                                        class="fa fa-chevron-right"></i></a></td>
                            </tr>
                        </table>
                    </li>
                    <li ng-repeat="device in topPage().group.getDevices()" ng-show="device.__type.tangible" jqm-li>
                        <table
                                width="100%">
                            <tr valign="center">
                                <td width="45%" align="left"><h3>{{device.label}}</h3></td>
                            </tr>
                            <tr>
                                <td width="45%" align="center">
                                    <div ng-include="getComponentPluginPath(device)"
                                         ng-repeat="device in [device]"></div>
                                </td>
                                <td width="10%" align="right"><a
                                        ng-click="pushDevicePage(device)">
                                    <div class="iconLink"><i
                                            class="fa fa-chevron-right"></i></div>
                                </a></td>
                            </tr>
                        </table>
                    </li>
                    <li ng-repeat="sensor in topPage().group.getSensors()">
                        <table width="100%">
                            <tr valign="center">
                                <td width="45%" align="left"><label>{{sensor.label}}</label></td>
                                <td width="45%" align="center">
                                    <div ng-include="getComponentPluginPath(sensor)"
                                         ng-repeat="sensor in [sensor]"></div>
                                </td>
                                <td width="10%" align="right"><a
                                        ng-click="pushSensorPage(sensor)"><i
                                        class="fa fa-chevron-right"></i></a></td>
                            </tr>
                        </table>
                    </li>
                    <li ng-repeat="service in topPage().services" jqm-li><a
                            ng-click="topPage().callNodeService(service)"><i
                            class="titleIcon fa fa-gear"></i>{{service.label}}</a></li>
                </ul>
            </form>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="devicePage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>{{topPage().device.label}}</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <ul data-role="listview">
                <li>
                    <table width="100%">
                        <tr valign="center">
                            <td align="center">
                                {{getComponentPluginPath(device)}}
                                <div ng-include="getComponentPluginPath(device)"
                                     ng-repeat="device in [topPage().device]"></div>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="ui-field-contain"><label>Last
                    State Change</label>{{formatDateTime(topPage().device.lastStateChangeTimestamp)}}
                </li>
                <li><a ng-click="pushDeviceMonitoringPage(topPage().device)"><i
                        class="titleIcon fa fa-chart"></i>Monitoring</a></li>
                <li ng-repeat="service in topPage().device.__type.services" jqm-li><a
                        ng-click="callDeviceService(topPage().device, service.id)"><i
                        class="titleIcon fa fa-gear"></i>{{service.label}}</a></li>
            </ul>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="actorPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>{{topPage().actor.label}}</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <ul data-role="listview">
                <li>
                    <table width="100%">
                        <tr valign="center">
                            <td align="center">
                                <div ng-include="getComponentPluginPath(actor)"
                                     ng-repeat="actor in [topPage().actor]"></div>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="ui-field-contain"><label>Last
                    State Change</label>{{formatDateTime(topPage().actor.lastStateChangeTimestamp)}}
                </li>
                <li ng-repeat="service in topPage().actor.__type.services" jqm-li><a
                        ng-click="callActorService(topPage().actor, service.id)"><i
                        class="titleIcon fa fa-gear"></i>{{service.label}}</a></li>
            </ul>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="sensorPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>{{topPage().sensor.label}}</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content"></div>
        <form>
            <ul data-role="listview">
                <li>
                    <table width="100%">
                        <tr valign="center">
                            <td align="center">
                                <div ng-include="getComponentPluginPath(sensor)"
                                     ng-repeat="sensor in [topPage().sensor]"></div>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="ui-field-contain"><label for="value">Value</label>{{topPage().sensor.value}}</li>
                <li class="ui-field-contain"><label for="lastEvent">Last
                    Event</label>{{formatDateTime(topPage().sensor.lastEventTimestamp)}}
                </li>
                <li class="ui-field-contain"><label for="lastValueChange">Last
                    Value Change</label>{{formatDateTime(topPage().sensor.lastValueChangeTimestamp)}}
                </li>
                <li><a ng-click="pushSensorMonitoringPage(topPage().sensor)"><i
                        class="titleIcon fa fa-chart"></i>Monitoring</a></li>
            </ul>
        </form>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="dataPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>{{topPage().data.label}}</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <div ng-repeat="object in [topPage().dataValue]"
                 ng-include="'./anyPanel.html'"></div>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="deviceMonitoringPage" class="monitoringPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>{{topPage().device.label}}</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <form>
                <ul data-role="listview">
                    <li id="{{value.id}}" ng-repeat="value in topPage().device.__type.state"
                        ng-show="value.type.id == 'number'">
                        <table style="padding: 5px; width: 100%;">
                            <tr valign="top">
                                <td align="left">
                                    <h3>{{value.label}}</h3>
                                </td>
                                <td style="text-align: right;">
                                    <div class="value">{{topPage().device._state[value.id]}}</div>
                                <td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="{{value.id}}-Plot" style="width: 100%; height: 200px;"></div>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </form>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="sensorMonitoringPage" class="monitoringPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>{{topPage().sensor.label}}</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <table style="padding: 5px; width: 100%;">
                <tr valign="top">
                    <td align="left">
                        <h3>{{topPage().sensor.label}}</h3>
                    </td>
                    <td style="text-align: right;">
                        <div class="value">{{topPage().sensor.value}}</div>
                    <td>
                </tr>
            </table>
            <div id="plot" style="width: 100%; height: 100%;"></div>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="administrationPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1>Administration</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <form>
                <ul data-role="listview">
                    <li><a
                            ng-click="pushUserManagementPage()"><i class="titleIcon fa fa-users"></i>User Management</a>
                    </li>
                </ul>
            </form>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="userManagementPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1><i class="titleIcon fa fa-users"></i>User Management</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <form>
                <ul data-role="listview">
                    <li ng-repeat="user in topPage().users" jqm-li><a
                            ng-click="$parent.pushUserPage(user)"><i class="titleIcon fa fa-user"></i>{{user.account}}
                        ({{user.firstName}}
                        {{user.lastName}})</a></li>
                    <li data-icon="plus" jqm-li><a
                            ng-click="openUserCreationDialog()">&nbsp;</a></li>
                </ul>
            </form>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="userPage" data-role="page">
        <div data-role="header" data-position="fixed">
            <h1><i class="titleIcon fa fa-user"></i>{{topPage().user.firstName}} {{topPage().user.lastName}}</h1>
            <a class="toolbarButton" ng-click="popPage()"><i
                    class="fa fa-chevron-circle-left"></i></a>
        </div>
        <div role="main" class="ui-content">
            <table class="tree">
                <tr style="vertical-align: middle" ng-repeat="treeNode in topPage().treeNodes"
                    ng-show="!treeNode.parent || treeNode.parent.expanded">
                    <td style="width: 70%; padding-left: {{10 * treeNode.level}}px;"><a style="margin-right: 5px;" ng-click="treeNode.expanded = true"
                                               ng-show="treeNode.hasChildren && !treeNode.expanded"><i class="treeHandle fa fa-plus-circle"></i></a><a
                            style="margin-right: 5px;" ng-click="treeNode.expanded = false"
                            ng-show="treeNode.hasChildren && treeNode.expanded"><i class="treeHandle fa fa-minus-circle"></i></a>{{treeNode.entitlement.label}}
                    </td>
                    <td style="width: 5%;"><input type="checkbox" ng-model="treeNode.entitlement.view"></td>
                    <td style="width: 10px;">View</td>
                    <td style="width: 5%;"><input type="checkbox" ng-model="treeNode.entitlement.execute"></td>
                    <td style="width: 10%;">Execute</td>
                </tr>
            </table>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright &copy; 2015 thing-it</h4>
        </div>
    </div>
    <div id="deviceAdvertisementDialog" data-role="popup">
        <div data-role="header"><h1>Device Advertisement</h1></div>
        <div role="main" class="ui-content" style="display: table-cell !important; text-align: center !important;"><p>
            New Device [{{deviceAdvertisementDialog.device.label}}] available.</p>
            <table>
                <tr>
                    <td><a class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back"
                           data-transition="flow" ng-click="registerDevice()">Register</a>
                    <td><a class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b"
                           data-rel="back" ng-click="closeDeviceAdvertisementDialog()">Reject</a></td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="userCreationDialog" data-role="popup">
        <div data-role="header"><h1>Add User</h1></div>
        <div role="main" class="ui-content" style="display: table-cell !important; text-align: center !important;"><p>
            <table>
                <tr>
                    <td><label>Account</label></td>
                    <td><input ng-model="userCreationDialog.user.account"></td>
                </tr>
                <tr>
                    <td><label>Password</label></td>
                    <td><input ng-model="userCreationDialog.user.password"></td>
                </tr>
                <tr>
                    <td><label>First Name</label></td>
                    <td><input ng-model="userCreationDialog.user.firstName"></td>
                </tr>
                <tr>
                    <td><label>Last Name</label></td>
                    <td><input ng-model="userCreationDialog.user.lastName"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><a class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back"
                           data-transition="flow" ng-click="addUser()">Add</a>
                    <td><a class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b"
                           data-rel="back" ng-click="closeUserCreationDialog()">Cancel</a></td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
