<div ui-content-for="topbar">
    <div class="navbar-brand navbar-brand-center">
        [thing-it-node]
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <form role="form" ng-submit='loginPage.login()'>
            <fieldset>
                <div class="form-group has-success has-feedback">
                    <label>Account</label>
                    <input
                            ng-model="loginPage.account"
                            class="form-control"
                            placeholder="Enter account">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password"
                           ng-model="loginPage.password"
                           class="form-control"
                           placeholder="Password">
                </div>
            </fieldset>
            <hr>

            <button class="btn btn-primary btn-block" ng-click="loginPage.login()">
                Login
            </button>

        </form>
    </div>
</div>