<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a>
            <a class="list-group-item" ng-click="pushHomePage()"><i class="fa fa-home"></i> Home</a>
            <a class="list-group-item" ng-click="pushUserManagementPage()" ng-hide="settings.proxy.mode === 'remoteProxy' || settings.proxy.mode === 'remoteSimulated'"><i class="fa fa-users"></i> User
                Management</a>
        </div>
    </div>
</div>