<div ui-content-for="topbar">
    <div class="navbar-brand navbar-brand-center">
        <i class="fa fa-gears"></i> {{topPage().mesh.label}}
    </div>
    <div class="btn-group pull-left">
        <div class="btn">
            <a ng-click="popPage()"><i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>

<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="list-group">
            <a ng-repeat="node in topPage().mesh.nodes track by $index" ng-click="openNodePage(topPage().mesh, node)"
               class="list-group-item">
                <i
                        class="fa fa-calculator"></i> {{node.label}}
                <i class="fa fa-question stateIcon" ng-show="node.state === 'disconnected'"></i>
                <i class="fa fa-repeat fa-spin stateIcon" ng-show="node.state === 'running'"></i>
                {{node.lastHeartbeat }}<i
                    class="fa fa-chevron-right pull-right navigationIcon"></i>
            </a>
        </div>
    </div>
</div>

<div ui-content-for="modals">
    <div ng-include="'messageDialog.html'"></div>
    <div ng-include="'deviceAdvertisementDialog.html'"></div>
    <div class="modal modal-overlay" ui-if='componentPluginUi' ui-state='componentPluginUi'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="circleText pull-right" style="width: 20px;" ui-turn-off="componentPluginUi">
                        <div><i class="fa fa-times"></i></div>
                    </div>
                    <h1>{{topPage().component.label}}</h1>
                </div>
                <div class="modal-body">
                    <div ng-include="getComponentPluginPath(topPage().component)"
                         ng-repeat="device in [topPage().component]"></div>
                </div>
            </div>
        </div>
    </div>
</div>

