<div ui-content-for="topbar">
    <div class="navbar-brand navbar-brand-center">
        <i class="fa fa-globe"></i> Meshes
    </div>
    <div class="btn-group pull-left">
        <div class="btn">
            <a ng-click="logout()"><i class="fa fa-power-off"></i></a>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>

<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="list-group">
            <a ng-repeat="mesh in topPage().meshes track by $index" ng-click="pushMeshPage(mesh)" class="list-group-item">
                <i
                        class="fa fa-gears"></i> {{mesh.label}} <i
                    class="fa fa-chevron-right pull-right navigationIcon"></i>
            </a>
        </div>
    </div>
</div>

<div ui-content-for="modals">
    <div ng-include="'messageDialog.html'"></div>
    <div ng-include="'deviceAdvertisementDialog.html'"></div>
    <div class="modal modal-overlay" ui-if='componentPluginUi' ui-state='componentPluginUi'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="circleText pull-right" style="width: 20px;" ui-turn-off="componentPluginUi">
                        <div><i class="fa fa-times"></i></div>
                    </div>
                    <h1>{{topPage().component.label}}</h1>
                </div>
                <div class="modal-body">
                    <div ng-include="getComponentPluginPath(topPage().component)"
                         ng-repeat="device in [topPage().component]"></div>
                </div>
            </div>
        </div>
    </div>
</div>

