<div ui-content-for="topbar">
    <div class="navbar-brand navbar-brand-center">
        <i class="fa fa-home"></i> {{topPage().node.label}}
    </div>
    <div class="btn-group pull-left"
         ng-show="settings.server == 'local'">
        <div class="btn">
            <a ng-click="logout()"><i class="fa fa-power-off"></i></a>
        </div>
    </div>
    <div class="btn-group pull-left"
         ng-hide="settings.server == 'local'">
        <div class="btn">
            <a ng-click="popPage()"><i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div class="btn">
            <a ng-hide="speech.listening" ng-click="speech.listen()"><i class="fa fa-microphone"></i></a>
            <a ng-show="speech.listening" ng-click="speech.hold()"><i class="fa fa-microphone-slash"></i></a>
        </div>
    </div>
</div>
<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="list-group">
            <a ng-repeat="group in topPage().node.groups" ng-click="pushGroupPage(group)" class="list-group-item">
                <span ng-show="group.icon"><i
                        class="fa fa-{{group.icon}}"></i></span><span
                    ng-hide="group.icon"><i class="titleIcon fa fa-home"></i></span> {{group.label}} <i
                    class="fa fa-chevron-right pull-right navigationIcon"></i>
            </a>
            <a ng-repeat="service in topPage().node.services" class="list-group-item"
               ng-click="callNodeService(topPage().node, service)">
                <div ng-show="service.type != 'storyboard'">
                    <i class="fa fa-gear"></i> {{service.label}} {{service.type}}<i
                        class="fa fa-chevron-right pull-right navigationIcon"></i></div>
                <div ng-show="service.type == 'storyboard'">
                    <table>
                        <tr>
                            <td><i class="fa fa-gear"></i></td>
                            <td style="padding-left: 3px;">{{service.label}}</td>
                            <td style="padding-left: 20px; width: 80px;" ng-hide="service._elapsedTime == null">
                                {{service._elapsedTime | duration}}
                            </td>
                            <td style="padding-left: 20px;"
                                ng-show="service._status == 'playing'">
                                <div class="circleButton"
                                     ng-click="pauseStoryboard(topPage().node, service); $event.stopPropagation();">
                                    <i class="fa fa-pause"></i>
                                </div>
                            </td>
                            <!--td style="padding-left: 20px;"
                                ng-show="service._status == 'stopped' || !service._status">
                                <div class="circleButton"
                                     ng-click="startStoryboard(topPage().node, service); $event.stopPropagation();">
                                    <i class="fa fa-play"></i>
                                </div>
                            </td-->
                            <td style="padding-left: 20px;"
                                ng-show="service._status == 'paused'">
                                <div class="circleButton"
                                     ng-click="playStoryboard(topPage().node, service); $event.stopPropagation();">
                                    <i class="fa fa-play"></i>
                                </div>
                            </td>
                            <td style="padding-left: 20px;"
                                ng-show="service._status == 'playing' || service._status == 'paused'">
                                <div class="circleButton"
                                     ng-click="stopStoryboard(topPage().node, service); $event.stopPropagation();">
                                    <i class="fa fa-stop"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <i class="fa fa-chevron-right pull-right navigationIcon"></i>
                </div>
            </a>
            <a ng-repeat="device in topPage().node.devices" class="list-group-item"
               ng-show="device.__type.tangible && !isDeviceInGroups(topPage().node, device)">
                <div class="itemLabel" ng-click="topPage().expandComponentUi(device)">{{device.label}}</div>
                <table width="100%">
                    <tr>
                        <td width="90%" align="center">
                            <div ng-repeat="panel in [console()]">
                                <div class="componentPlugin" ng-include="getComponentPluginPath(device)"
                                     ng-repeat="component in [device]"></div>
                            </div>
                        </td>
                        <td width="10%" align="right"><a
                                ng-click="pushDevicePage(device)"><i
                                class="fa fa-chevron-right navigationIcon"></i></a></td>
                    </tr>
                </table>
            </a>
            <a ng-repeat="actor in topPage().actors"
               class="list-group-item" ng-show="!isActorInGroups(topPage().node, actor)">
                <div class="itemLabel" ng-click="topPage().expandComponentUi(actor)">{{actor.label}}</div>
                <table
                        width="100%">
                    <tr>
                        <td width="90%" align="center">
                            <div ng-repeat="panel in [console()]">
                                <div class="componentPlugin" ng-include="getComponentPluginPath(actor)"
                                     ng-repeat="component in [actor]"></div>
                            </div>
                        </td>
                        <td width="10%" align="right"><a
                                ng-click="pushActorPage(actor)"><i
                                class="fa fa-chevron-right navigationIcon"></i></a></td>
                    </tr>
                </table>
            </a>
            <a ng-repeat="sensor in topPage().sensors"
               class="list-group-item" ng-show="!isSensorInGroups(topPage().node, sensor)">
                <div class="itemLabel" ng-click="topPage().expandComponentUi(sensor)">{{sensor.label}}</div>
                <table width="100%">
                    <tr>
                        <td width="90%" align="center">
                            <div ng-repeat="panel in [console()]">
                                <div class="componentPlugin" ng-include="getComponentPluginPath(sensor)"
                                     ng-repeat="component in [sensor]"></div>
                            </div>
                        </td>
                        <td width="10%" align="right"><a
                                ng-click="pushSensorPage(sensor)"><i
                                class="fa fa-chevron-right navigationIcon"></i></a></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>

<div ui-content-for="modals">
    <div ng-include="'messageDialog.html'"></div>
    <div ng-include="'deviceAdvertisementDialog.html'"></div>
    <div class="modal modal-overlay" ui-if='componentPluginUi' ui-state='componentPluginUi'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="circleText pull-right" style="width: 20px;" ui-turn-off="componentPluginUi">
                        <div><i class="fa fa-times"></i></div>
                    </div>
                    <h1>{{topPage().component.label}}</h1>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <div ng-repeat="panel in [console()]">
                        <div ng-include="getComponentPluginPath(topPage().component)"
                             ng-repeat="component in [topPage().component]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

